.reset-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 2rem;
    background: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.reset-container h2 {
    margin-bottom: 0.5rem;
    color: #333;
}

.error-token {
    text-align: center;
    margin-top: 1.5rem;
}

.btn-retry {
  margin-top: 1rem;
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.reset-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-wrapper {
    position: relative;
    width: 100%;
   display: flex;
   align-items: center;
}

.input-wrapper input {
    width: 100%;
    padding: 0.75rem 2.5rem 0.75rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    
}

.btn-submit {
    background-color: #ff8c00db;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius:  8px;
    cursor: pointer;
    transition: 0.3s;
}
.toggle-passwd-rt {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    font-size: 18px;
}

.toggle-passwd-rt:hover {
    color: #ff8c00;
}

.btn-submit {
    background-color: #ff8c00db;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: #ff8c00;
}

.input-error {
  color: #d9534f;
  font-size: 0.85rem;
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: left;
}
