

.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fbe5d6;
    overflow: hidden;
    position: relative;
}

.right-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}


.mensagem {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    animation: fadein 0.5s forwards, fadeout 0.5s 2.5s forwards;
    z-index: 1000;
}

.mensagem.sucesso {
    background-color: #4caf50;
}

.mensagem.erro {
    background-color: #f44336;
}

@keyframes fadein {
    from { opacity: 0; transform: translateX(-50%) translateY(-20px); }
    to { opacity: 1; transform: translateX(-50%) translateY(0); }
}

@keyframes fadeout {
    from { opacity: 1; transform: translateX(-50%) translateY(0); }
    to { opacity: 0; transform: translateX(-50%) translateY(-20px); }
}
