.recovery-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 2rem;
    background: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.recovery-container h2 {
    margin-bottom: 0.5rem;
    color: #333;
}

.recovery-subtiitle {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.recovery-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.recovery-form input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.recovery-form button {
    background-color: #ff8c00db;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius:  8px;
    cursor: pointer;
    transition: 0.3s;
}

.recovery-form button:hover {
    opacity: 0.5;
}

.sucesso {
    color: white;
    margin-top: 1rem
}

.erro {
    color: red;
    margin-top: 1rem;
}