.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #fff;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    width: 100%;
    margin-bottom: 7px;
    animation: fadeIn 0.6s ease;
    font-family: "Poppins", sans-serif;
}

.form h1{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom: 2px;
}

.form .subtitle-re {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 10px;
}

.input-group{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    background:#f5f5f5 ;
    border-radius: 10px;
    padding: 0 10px;
}

.input-group input {
    flex: 1;
    border: none;
    background: transparent;
    height: 45px;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
}

.input-group .icon-re{
    color: #999;
    font-size: 18px;
}

.toggle-psswd {
    background: none;
    border: none;
    cursor: pointer;
    color:#666;
    font-size: 18px;
}

.toggle-psswd:hover {
    color: #ff8c00db;
}

.error {
    font-size: 12px;
    color: rgba(234, 63, 63, 0.971);
    margin-top: -5px;
}

.btn-group button {
    min-width: 120px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff8c00db, #ffb347);
    height: 42px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
    padding: 10px;
}

.btn-group button:hover {
    opacity: 0.9;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}