.products-container {
  min-height: 100vh;
  background: #f8f8f8;
}

.products-header {
    text-align: center;
    padding: 50px 20px 30px;
}

.products-header h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #2c2c2c;
  margin-bottom: 10px;
}

.products-header p {
  font-size: 0.95rem;
  color: #7a6c6c;
  margin-bottom: 25px;
}

.products-actions{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 15px;
  flex-direction: wrap;
}
.btn-primary {
  background: #3b2f2f;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.btn-primary:hover {
  background: #523f3f;
  transform: translateY(-2px);
}

.btn-secondary {
  background: transparent;
  border: 1px solid #3b2f2f;
  color: #3b2f2f;
  padding: 10px 18px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.btn-secondary:hover {
  background: #3b2f2f;
  color: #fff;
  transform: translateY(-2px);
}

/* FILTROS */
.products-filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-btn {
  background: #f1f1f1;
  border: none;
  padding: 7px 14px;
  border-radius: 999px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.2s;
  color: #555;
}

.filter-btn:hover {
  background: #e4e4e4;
}

.filter-btn.active {
  background: #3b2f2f;
  color: #fff;
}

.masonry-grid {
  column-count: 4;
  column-gap: 16px;
  padding: 20px;
}

.masonry-item {
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 16px;
  cursor: pointer;
}

.masonry-item img {
  width: 100%;
  display: block;
  border-radius: 16px;
  transition: transform 0.4s ease;
}

.masonry-item:hover img {
  transform: scale(1.05);
}

.img-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.masonry-item:hover .img-overlay {
  opacity: 1;
}

@media (max-width: 1200px) {
  .masonry-grid {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .masonry-grid {
    column-count: 1;
  }
}